name: Release

on:
  push:
    branches:
      - main
      - next

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      # Checkout code with full history to get tags
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Set up Node.js
      - uses: actions/setup-node@v4
        with:
          node-version: '22'

      # Install dependencies and build Node.js project
      - run: npm ci
      - run: npm run lint
      - run: npm run build:storage
      - run: npm run build:keyv-tigris
      - run: npm run publint --workspace=@tigrisdata/storage
      - run: npm run publint --workspace=@tigrisdata/keyv-tigris

      - name: Run integration tests
        env:
          TIGRIS_STORAGE_BUCKET: ${{ secrets.TIGRIS_STORAGE_BUCKET }}
          TIGRIS_STORAGE_ACCESS_KEY_ID: ${{ secrets.TIGRIS_STORAGE_ACCESS_KEY_ID }}
          TIGRIS_STORAGE_SECRET_ACCESS_KEY: ${{ secrets.TIGRIS_STORAGE_SECRET_ACCESS_KEY }}
          TIGRIS_STORAGE_ENDPOINT: ${{ secrets.TIGRIS_STORAGE_ENDPOINT }}
        run: |
          npm run test --workspace=@tigrisdata/storage
          npm run test --workspace=@tigrisdata/keyv-tigris

      - run: npm audit signatures

      # Release to GitHub and NPM
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm run release
