name: Release

on:
  push:
    branches:
      - main
      - next

permissions:
  id-token: write
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      # Checkout code with full history to get tags
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Set up Node.js with npm provenance
      - uses: actions/setup-node@v4
        with:
          node-version: '22'

      # Install dependencies and build Node.js project
      - run: npm ci
      - run: npm run lint

      - name: Build packages
        run: npm run build

      - name: Lint packages
        run: npm run publint

      - name: Test packages
        env:
          TIGRIS_STORAGE_BUCKET: ${{ secrets.TIGRIS_STORAGE_BUCKET }}
          TIGRIS_STORAGE_ACCESS_KEY_ID: ${{ secrets.TIGRIS_STORAGE_ACCESS_KEY_ID }}
          TIGRIS_STORAGE_SECRET_ACCESS_KEY: ${{ secrets.TIGRIS_STORAGE_SECRET_ACCESS_KEY }}
          TIGRIS_STORAGE_ENDPOINT: ${{ secrets.TIGRIS_STORAGE_ENDPOINT }}
        run: npm run test

      - run: npm audit signatures

      # Release packages in dependency order
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./scripts/release.sh
